.cosmology-header-background {
  background-image: url("/images/cosmology/cosmology-banner-w600.jpg");
  font-family: var(--cosmology-header), Arial, Helvetica, sans-serif;
}

.site-content-img {
  background-image: url("/images/cosmology/earth-color.jpg");
}

.imax-header-background {
  background-image: url("/images/cosmology/index-phone-cosmology.jpg");
  flex-direction: column;
  height: 200px;
}

.imax-font-h1 {
  font-size: 70px;
  margin: 0px;
}

.imax-font-h2 {
  margin-top: -10px;
  letter-spacing: 20px;
}

.imax-subheader {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1.1rem;
  text-transform: uppercase;
  line-height: 1.1;
}

.kids {
  background-image: url("/images/cosmology/kids-fun-imax.jpg");
  height: 250px;
  width: 250px;
}

.space-craft {
  margin-top: -40px;
  display: none;
  background-image: url("/images/cosmology/space-craft.png");
  height: 120px;
  width: 120px;
  transform: rotate(22deg);
}

.imax-img-wrapper {
  margin-top: 1.5rem;
}

.card-phone h2 {
  font-size: 30px;
}

.activities {
  background-image: url("/images/cosmology/space-fun-filter-blue.jpg");
}

.galaxy {
  background-image: url("/images/cosmology/cosmology-banner-w600.jpg");
}

.space-expeditions {
  background-image: url("/images/cosmology/rocket-trimd.jpg");
}

.solar-system {
  background-image: url("/images/cosmology/earth-color-filter.jpg");
}
