.explore-header-background {
  background-image: url("/images/explore/explore-header2-900.jpg");
}

.site-content-img {
  background-image: url("/images/explore/vr-girl-uncutted.jpg");
  height: 350px;
}

.italic {
  font-style: italic;
  font-weight: 600;
}
