.welcome-cosmology-wrapper {
  color: #ffffff;
  padding: 1.6rem;
  width: 80%;
}

.index-section-container {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 3 / 2;
  display: grid;
  place-items: center;
  max-height: 750px;
}

.welcome-background {
  background-image: url("../images/index/welcome-index2.jpg");
  background-position: right;
}

/* .welcome-display-w600 {
  display: none;
} */

.header-fade-in {
  animation: header-opacity 4s;
}

.sub-header-fade-in {
  animation: header-opacity 6s;
}

.cta-fade-in {
  animation: header-opacity 8s;
}

.index-grid-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.robotics-night {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.robotics {
  place-self: center;
}

.robotics-header-wrapper {
  width: 50%;
}

.robotics-img {
  background-image: url("/images/index/robot-trimed.png");
  height: 360px;
  width: 140px;
}

.night {
  background-color: black;
  padding: 2rem;
}

.night-content-wrapper {
  max-width: 400px;
  position: relative;
}

.night p {
  color: white;
}

.night-images {
  margin-top: 20px;
  position: relative;
  height: 250px;
}

.night-img-card {
  position: absolute;
  height: 180px;
  width: 180px;
}

.night-img-1 {
  right: 0px;
  top: 30px;
  z-index: 1;
  background-image: url("/images/night-at-the-museum/night-light-bowl.jpg");
}
.night-img-2 {
  left: 0px;
  top: 30px;
  background-image: url("/images/night-at-the-museum/dinosaur-hand.jpg");
}
.night-img-3 {
  left: 100px;
  background-image: url("/images/night-at-the-museum/night-at\ the\ museum-family.jpg");
}
