.welcome {
  padding: 25px;
  color: white;
  min-height: 33vh;
  background-image: url("../images/welcome-index2.jpg");
  background-position: right;
  width: 100vw;
}

.welcome h1 {
  animation: header-opacity 4s;
}

.welcome h2 {
  font-family: var(--primary-font), sans-serif;
  margin-bottom: 20px;
  animation: header-opacity 6s;
}

.cta-fade-in {
  animation: header-opacity 8s;
}

.cosmology {
  width: 100vw;
  overflow: hidden;
  padding: 24px;
  color: white;
  background-image: url("../images/cosmology/index-phone-cosmology.jpg");
}

.cosmology-content {
  justify-content: space-evenly;
}

.cosmology-header h1,
h2 {
  font-family: var(--cosmology-header), sans-serif;
}

.imax {
  margin: 24px;
  display: grid;
  grid-template-columns: 1fr;
}

.imax-content {
  margin: 1.5rem;
}

h1.imax-header {
  font-weight: 700;
  font-size: 50px;
}

h3.imax-movie {
  /* font-family: var(--cosmology-header), sans-serif; */
  margin-bottom: 1.5rem;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

.three-d-experience {
  display: none;
  position: relative;
}

.kids-fun {
  background-image: url("/images/cosmology/kids-fun-imax.jpg");
  height: 170px;
  width: 170px;
  margin-left: 10px;
}

.space-craft-index {
  background-image: url("/images/cosmology/space-craft.png");
  width: 240px;
  height: 240px;
  left: 170px;
  position: absolute;
  top: -150px;
  animation: space-craft-rotate 20s infinite;
  transform: rotate(30deg);
}

@keyframes space-craft-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.evolution {
  background-image: url("../images/grid-sction/dinoseur-trimed.jpg");
}
.explore {
  background-image: url("/images/index-grid/vr-girl.jpg");
}
.biology {
  background-image: url("/images/index-grid/biology-trimed.jpg");
}
.gift-shop {
  background-image: url("/images/index-grid/gift-shop-trimed.jpg");
}
.ecology {
  background-image: url("/images/index-grid/ecology-trimed.jpg");
}

.robotics-night {
  margin: auto;
  max-width: 1400px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

.robotics {
  place-self: center;
}

.robotics-header-wrapper {
  width: 50%;
}

.robotics-img {
  background-image: url("/images/robotics&night/robot-trimed.png");
  height: 360px;
  width: 140px;
}

.night {
  background-color: black;
  padding: 2rem;
}

.night-content-wrapper {
  max-width: 400px;
  position: relative;
}

.night p {
  color: white;
}

.night-images {
  margin-top: 20px;
  position: relative;
  height: 250px;
}

.night-img-card {
  position: absolute;
  height: 180px;
  width: 180px;
}

.night-img-1 {
  right: 0px;
  top: 30px;
  z-index: 1;
  background-image: url("/images/night-at-the-museum/night-light-bowl.jpg");
}
.night-img-2 {
  left: 0px;
  top: 30px;
  background-image: url("/images/night-at-the-museum/dinosaur-hand.jpg");
}
.night-img-3 {
  left: 100px;
  background-image: url("/images/night-at-the-museum/night-at\ the\ museum-family.jpg");
}
