.welcome {
  margin-bottom: 30px;
  color: white;
  height: 33vh;
  background-image: url("../images/welcome-index2.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-content h1 {
  animation: header-opacity 4s;
}

@keyframes header-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.welcome h2 {
  font-family: var(--primary-font), sans-serif;
  margin-bottom: 20px;
  animation: sub-header-opacity 6s;
}

@keyframes sub-header-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta-fade-in {
  animation: sub-header-opacity 8s;
}

@keyframes sub-header-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cosmology {
  padding: 24px;
  color: white;
  background-image: url("../images/cosmology/index-phone-cosmology.jpg");
  background-size: cover;
  /* background-position: right; */
  display: flex;
  /* flex-direction: column; */
}

.cosmology-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.cosmology-header {
  margin: 24px;
}

.cosmology-header h1,
h2 {
  font-family: var(--cosmology-header), sans-serif;
}

.cosmology-header h1 {
  background: linear-gradient(to right, #13f0d7 27%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imax {
  margin: 24px;
  display: grid;
  grid-template-columns: 1fr;
}

.imax-content {
  display: flex;
  flex-direction: column;
}

h1.imax-header,
h2.imax-subheader {
  font-family: var(--imax-font) Arial, Helvetica, sans-serif;
}

h1.imax-header {
  font-size: 50px;
}
h2.imax-subheader {
  margin-top: -21px;
  font-size: 24px;
  letter-spacing: 5px;
}

.three-d-experience {
  display: none;
  position: relative;
}

.kids-fun {
  background-image: url("/images/cosmology/kids-fun-imax.jpg");
  background-size: cover;
  /* position: absolute; */
  height: 170px;
  width: 170px;
  /* left: 26px; */
  margin-left: 26px;
}

.space-craft {
  background-image: url("/images/cosmology/space-craft.png");
  background-size: cover;
  width: 240px;
  height: 240px;
  left: 170px;
  position: absolute;
  top: -150px;
  animation: space-craft-rotate 20s infinite;
  transform: rotate(30deg);
}

@keyframes space-craft-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid-section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.grid-card {
  position: relative;
  place-self: center;
  background-color: black;
  height: 357px;
  width: 357px;
}

.grid-card-content {
  position: absolute;
  bottom: 0px;
  padding: 15px;
  background-color: rgba(247, 247, 247, 0.88);
}

.evolution {
  background-image: url("/images/index-grid/dinoseur-trimed.jpg");
  background-size: cover;
}
.explore {
  background-image: url("/images/index-grid/vr-girl.jpg");
  background-size: cover;
}
.biology {
  background-image: url("/images/index-grid/biology-trimed.jpg");
  background-size: cover;
}
.gift-shop {
  background-image: url("/images/index-grid/gift-shop-trimed.jpg");
  background-size: cover;
}
.ecology {
  background-image: url("/images/index-grid/ecology-trimed.jpg");
  background-size: cover;
}

.robotics-night {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

.robotics {
  padding: 24px;
  place-self: center;
  display: flex;
  align-items: center;
}

.robotics-header-wrapper {
  width: 50%;
}

.robotics-header-wrapper h1 {
  font-size: 24px;
  background: linear-gradient(to right, #a62985 0%, #032973 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.robotics-img {
  background-image: url("/images/robotics&night/robot-trimed.png");
  background-size: cover;
  height: 360px;
  width: 140px;
}

.night {
  padding: 24px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.night h1 {
  font-size: 24px;
  background: linear-gradient(to right, #13f0d7 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.night h5 {
  color: white;
}

.night-images {
  margin-top: 20px;
  position: relative;
  height: 190px;
}

.night-img-card {
  position: absolute;
  height: 136px;
  width: 136px;
}

.night-img-1 {
  right: 37px;
  background-image: url("/images/night-at-the-museum/night-light-bowl.jpg");
  background-size: cover;
}
.night-img-2 {
  left: -60px;
  top: 30px;
  background-image: url("/images/night-at-the-museum/dinosaur-hand.jpg");
  background-size: cover;
}
.night-img-3 {
  left: 30px;
  background-image: url("/images/night-at-the-museum/night-at\ the\ museum-family.jpg");
  background-size: cover;
}

footer {
  background-color: #f7f7f7;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer i {
  color: var(--purple);
  margin-left: 20px;
}

footer > * {
  margin-bottom: 20px;
}
