@media (min-width: 600px) {
  label {
    display: none;
  }

  nav {
    transform: translateX(0%);
    position: static;
    background-color: white;
    justify-self: end;
  }

  nav ul {
    display: flex;
  }

  nav li {
    padding: 6px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  .three-d-experience {
    display: block;
  }

  .imax {
    grid-template-columns: 1fr 1fr;
  }

  .site-content-img {
    display: block;
  }

  .site-content-wrapper {
    display: flex;
    margin: 1.5rem;
  }

  .imax-img-wrapper {
    order: 2;
  }

  .grid-section {
    grid-template-columns: 1fr 1fr;
  }

  .three-item-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .space-grid {
    max-width: 650px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 70px;
  }

  .cosmology {
    background-image: url("/images/cosmology/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-position: center;
  }

  .imax-content {
    grid-area: imax-content;
  }

  .kids-fun {
    height: 220px;
    width: 220px;
  }

  .three-d-experience {
    grid-area: three-d-experience;
  }
  .imax {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imax-content three-d-experience";
  }

  .evolution {
    height: 568px;
    grid-area: evolution;
  }
  .explore {
    grid-area: explore;
  }
  .biology {
    grid-area: biology;
  }
  .gift-shop {
    grid-area: gift-shop;
  }
  .ecology {
    grid-area: ecology;
  }

  .index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "evolution evolution explore biology"
      "evolution evolution gift-shop ecology";
  }

  .space-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 2000px;
  }

  .robotics-night {
    grid-template-columns: 1fr 1fr;
  }

  .robotics-header-wrapper h1 {
    font-size: 39px !important;
  }

  .night h1 {
    font-size: 39px;
  }

  .site-content {
    max-width: 570px;
  }

  .imax-header {
    height: 270px;
  }

  .imax-font-h1 {
    font-size: 130px;
  }

  .imax-font-h2 {
    margin-top: -15px;
    margin-left: 59px;
    letter-spacing: 52px;
  }

  .space-craft {
    display: block;
    animation: imax-space-craft-levitate 10s ease-in-out infinite;
  }

  .grid-card-content-button {
    display: none;
  }

  .card-display-none {
    display: block;
  }

  .dark-filter {
    background-color: unset;
  }

  footer {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .welcome {
    min-height: 50vh;
  }

  .space-craft {
    margin-top: -320px;
    animation: imax-space-craft-rotate 10s ease-in-out infinite;
  }

  .kids-fun {
    height: 300px;
    width: 300px;
  }

  .space-craft-index {
    width: 450px;
    height: 450px;
  }

  .space-craft {
    height: 220px;
    width: 220px;
  }

  .imax-header {
    height: 360px;
  }

  .imax-font-h1 {
    font-size: 200px;
  }

  .imax-font-h2 {
    margin-top: -7px;
    letter-spacing: 50px;
    font-size: 70px;
    margin-left: 60px;
  }

  .imax-subheader {
    margin: 1.8rem;
    letter-spacing: 11px;
  }
}
