@media (min-width: 600px) {
  label {
    display: none;
  }

  nav {
    transform: translateX(0%);
    position: static;
    background-color: white;
    justify-self: end;
  }

  nav ul {
    display: flex;
  }

  nav li {
    padding: 6px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  .three-d-experience {
    display: block;
  }

  .imax {
    grid-template-columns: 1fr 1fr;
  }

  .grid-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: px) {
}

@media (min-width: 900px) {
  h1 {
    font-size: 70px;
  }

  .cosmology {
    background-image: url("/images/cosmology/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-position: center;
  }

  .imax-content {
    grid-area: imax-content;
  }

  .kids-fun {
    height: 220px;
    width: 220px;
  }

  .three-d-experience {
    grid-area: three-d-experience;
  }
  .imax {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imax-content three-d-experience";
  }

  .evolution {
    height: 568px;
    grid-area: evolution;
  }
  .explore {
    grid-area: explore;
  }
  .biology {
    grid-area: biology;
  }
  .gift-shop {
    grid-area: gift-shop;
  }
  .ecology {
    grid-area: ecology;
  }

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "evolution evolution explore biology"
      "evolution evolution gift-shop ecology";
  }

  .robotics-night {
    grid-template-columns: 1fr 1fr;
  }

  .robotics-header-wrapper h1 {
    font-size: 39px !important;
  }

  .night h1 {
    font-size: 39px;
  }
}

@media (min-width: 1400px) {
  .welcome {
    min-height: 50vh;
  }

  .kids-fun {
    height: 370px;
    width: 370px;
  }

  .space-craft {
    width: 410px;
    height: 380px;
    left: 240px;
  }
}
