@media (min-width: 600px) {
  label {
    display: none;
  }

  nav {
    transform: translateX(0%);
    position: static;
    background-color: white;
    justify-self: end;
  }

  nav ul {
    display: flex;
  }

  nav li {
    padding: 6px;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .three-d-experience {
    display: block;
  }

  .imax {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 70px;
  }
}
