.night-header-background {
  background-image: url("/images/night-at-the-museum/night-banner-w600.jpg");
}

.site-content-img {
  background-image: url("/images/night-at-the-museum/night-geometry.jpg");
}

.dinosaur {
  background-image: url("/images/night-at-the-museum/dinosaur-hand.jpg");
}

.light-show {
  background-image: url("/images/night-at-the-museum/night-at\ the\ museum-family.jpg");
}

.light-ball {
  background-image: url("/images/night-at-the-museum/night-light-bowl.jpg");
}
