@import "imports/links.css";
@import "imports/variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Quest";
  src: url("../font/SpaceQuest-Xj4o.ttf") format("truetype");
}

@font-face {
  font-family: "Microgramma D Extended";
  src: url("../font/Microgramma-D-Extended.ttf") format("truetype");
}

@font-face {
  font-family: "Zen Dots";
  src: url("../font/ZenDots-Regular.ttf") format("truetype");
}

.imax-font {
  font-family: var(--imax-font), Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

h1 {
  margin: 1.5rem auto;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

header .active {
  text-decoration: underline;
}

header {
  width: 100vw;
  padding: 13px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: center;
}

.logo i {
  color: var(--purple);
  margin-right: 3px;
}

.logo h3 {
  line-height: 17px;
}

.logo {
  cursor: pointer;
  display: flex;
}

nav {
  font-weight: 500;
  margin-left: 25px;
  position: fixed;
  background: var(--green);
  top: 75px;
  z-index: 10;
  right: 0px;
  transform: translateX(110%);
  transition: 0.3s ease-in;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

input[type="checkbox"] {
  display: none;
}

#hamburger-menu:checked ~ nav {
  transform: translateX(0%);
}

.img {
  background-size: cover;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.cta {
  font-weight: 600;
  padding: 6px;
  text-align: center;
  display: inline-block;
  height: 37px;
  width: 113px;
  background-color: var(--green);
  padding-top: 9px;
}
.cta-primary {
  color: black;
  background-color: var(--green);
}

.cta-secondary {
  color: #ffffff;
  background-color: var(--purple);
}

.site-header-backroud {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100vw;
}

.site-content {
  max-width: 400px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.site-content-img {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  width: 240px;
  margin-top: 3.5rem;
}

.site-content h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 1.5rem auto;
}

.site-content p {
  margin-bottom: 0.6rem;
}

.grid-sction-gradient-backround {
  min-width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background: linear-gradient(
    90deg,
    rgba(166, 41, 133, 1) 49%,
    rgba(3, 41, 115, 1) 100%
  );
}

.grid-section {
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 30px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-card-content-wrapper {
  height: 100%;
}

.grid-card-content-button {
  color: white;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid-card-content-link {
  display: none;
}

.grid-card {
  background-position: center;
  position: relative;
  place-self: center;
  height: 280px;
  width: 100%;
}

.grid-card-content-button h2 {
  font-size: 25px;
}

.grid-card-content-link {
  position: absolute;
  bottom: 0px;
  padding: 15px;
  background-color: rgba(247, 247, 247, 0.75);
}

footer {
  background-color: #f7f7f7;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer i {
  color: var(--purple);
  margin-left: 20px;
}

footer > * {
  margin-bottom: 20px;
}
