@import "imports/links.css";
@import "imports/variables.css";
@import "keyframes.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Quest";
  src: url("../font/SpaceQuest-Xj4o.ttf") format("truetype");
}

@font-face {
  font-family: "Microgramma D Extended";
  src: url("../font/Microgramma-D-Extended.ttf") format("truetype");
}

@font-face {
  font-family: "Zen Dots";
  src: url("../font/ZenDots-Regular.ttf") format("truetype");
}

.imax-font {
  font-family: var(--imax-font), Arial, Helvetica, sans-serif;
}

.cosmology-font {
  font-family: var(--cosmology-header), Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

h1 {
  font-size: 35px;
  margin: 8px auto;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 8px auto;
}

h3 {
  margin: 8px auto;
}

p {
  margin: 8px auto;
}

h2 {
}

header .active {
  background-color: var(--purple);
  color: #ffffff;
}

header {
  width: 100vw;
  padding: 13px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: center;
}

.footer-backround-color {
  background-color: #f7f7f7;
  place-self: center;
  width: 100vw;
}

footer {
  max-width: 1400px;
  padding: 24px;
}

footer i {
  color: var(--purple);
  margin-left: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin: 1.6rem;
}

.logo i {
  color: var(--purple);
  margin-right: 3px;
}

.logo h3 {
  line-height: 17px;
}

.logo {
  cursor: pointer;
  display: flex;
}

nav {
  font-weight: 500;
  margin-left: 25px;
  position: fixed;
  background: var(--green);
  top: 75px;
  z-index: 10;
  right: 0px;
  transform: translateX(110%);
  transition: 0.3s ease-in;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

input[type="checkbox"] {
  display: none;
}

#hamburger-menu:checked ~ nav {
  transform: translateX(0%);
}

.img {
  background-size: cover;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.gradient-text-green {
  background: linear-gradient(to right, #13f0d7 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-purple-blue {
  background: linear-gradient(to right, #a62985 0%, #032973 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-filter {
  background-color: rgba(0, 0, 0, 0.5);
}

.site-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 290px;
  width: 100vw;
}

.site-content {
  max-width: 400px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.site-content-img {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  width: 240px;
  margin-top: 3.5rem;
}

.site-content h2 {
}

.grid-sction-gradient-backround-purple {
  min-width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background: linear-gradient(
    90deg,
    rgba(166, 41, 133, 1) 49%,
    rgba(3, 41, 115, 1) 100%
  );
}

.grid-sction-gradient-backround-night {
  min-width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgb(3, 41, 115);
  background: linear-gradient(
    90deg,
    rgba(3, 41, 115, 1) 0%,
    rgba(19, 240, 215, 1) 53%,
    rgba(3, 41, 115, 1) 100%
  );
}

.grid-section {
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 30px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-section .img:hover {
  transform: scale(1.02);
}

.grid-card-content-wrapper {
  height: 100%;
}

.grid-card-content-button {
  color: white;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid-card {
  background-position: center;
  position: relative;
  place-self: center;
  height: 280px;
  width: 100%;
}

.grid-card-content-button h2 {
  font-size: 25px;
}

.card-display-none {
  display: none;
}
